In [168]:
import pandas as pd
from constants import *
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.io as pio
import math

In [146]:
def create_single_plot(x: list, y: list, xaxis_title: str = 'X axis', yaxis_title: str = 'Y axis', title: str = 'Title',
                       save: bool = False, y_range: tuple = None, save_path: str = 'plot'):
    fig_ = go.Figure()

    fig_.add_trace(go.Scatter(x=x, y=y, mode='lines+markers', line=dict(width=4), marker=dict(size=10)))

    layout_ = {
        "title": title,
        "xaxis_title": xaxis_title,
        "yaxis_title": yaxis_title
    }

    fig_.update_layout(**layout_)

    if y_range is not None:
        fig_.update_yaxes(range=list(y_range))

    if save:
        pio.write_image(fig_, f'plots/{save_path}.svg')

    return fig_


def combine_plots(figures: list, title: str = '', yaxis_title: str = '', xaxis_title: str = '', save: bool = True,
                  x_range: tuple = None, y_range: tuple = None, subplot_titles: bool = True, save_path: str = 'plot'):
    num_figures_ = len(figures)
    num_rows_ = num_cols_ = int(math.ceil(math.sqrt(num_figures_)))

    if subplot_titles:
        subplot_titles_ = [fi.layout.title.text for fi in figures]
        fig_ = make_subplots(rows=num_rows_, cols=num_cols_, subplot_titles=subplot_titles_)
    else:
        fig_ = make_subplots(rows=num_rows_, cols=num_cols_)

    for i, f in enumerate(figures):
        row_ = i // num_cols_ + 1
        col_ = i % num_cols_ + 1
        for r in f['data']:
            # Add the trace to the subplot
            fig_.add_trace(r, row=row_, col=col_)

    layout_ = {
        "title": title,
        "width": 1900,
        "height": 940,
        "showlegend": False
    }

    fig_.update_layout(**layout_)
    fig_.update_yaxes(title_text=yaxis_title)
    fig_.update_xaxes(title_text=xaxis_title)

    if x_range is not None:
        fig_.update_xaxes(range=list(x_range))
    if y_range is not None:
        fig_.update_yaxes(range=list(y_range))

    if save:
        pio.write_image(fig_, f'plots/{save_path}.svg')

    return fig_


def create_histogram(data: list, title: str = '', xaxis_title: str = '', yaxis_title: str = '',
                     x_range: tuple = None, y_range: tuple = None, save: bool = False, save_path: str = 'plot'):
    fig_ = go.Figure()

    fig_.add_trace(go.Histogram(x=data))

    # Layout settings
    layout = {
        'title': title,
        'xaxis_title': xaxis_title,
        'yaxis_title': yaxis_title
    }
    if x_range is not None:
        layout['xaxis'] = {'range': list(x_range)}

    if y_range is not None:
        layout['yaxis'] = {'range': list(y_range)}

    fig_.update_layout(**layout)

    if save:
        pio.write_image(fig_, f'plots/{save_path}.svg')

    return fig_

In [147]:
frame = pd.read_csv('data.csv')
frame.columns = ['year', 'title', 'category', 'currency', 'salary', 'salary_in_dollars', 'employee_residence',
                 'experience', 'employment_type', 'working_mode', 'company_location', 'company_size']

## Salary Trends Over Time (Temporal Analysis)

In [228]:
def stage_1(data, mode="average"):
    tmp_dict_ = {}
    category_ = data['category'].unique()
    year_ = sorted(data['year'].unique())

    for c in category_:
        tmp_dict_[c] = {
            'values': [],
            'years': {}
        }
        for y in year_:
            tmp_frame_ = data[(data['category'] == c) & (data['year'] == y)]
            tmp_dict_[c]['years'][f"{y}"] = data[(data['category'] == c) & (data['year'] == y)][
                'salary_in_dollars'].values

            if mode == "average":
                values_ = tmp_frame_['salary_in_dollars'].mean()
            elif mode == "median":
                values_ = tmp_frame_['salary_in_dollars'].median()

            tmp_dict_[c]['values'].append(values_)

    dates_ = [str(element) for element in year_]
    tmp_max_values_ = []
    for name_, value_ in tmp_dict_.items():
        tmp_max_values_.append(max(value_['values']))

    max_value_ = max(tmp_max_values_)

    line_plot_figures_ = []
    for name_, value_ in tmp_dict_.items():
        line_plot_figures_.append(
            create_single_plot(x=dates_, y=value_['values'], xaxis_title="Year", yaxis_title="Median Salary",
                               title=name_, save=False, y_range=(0, max_value_ * 1.2), save_path=f'stage_1/{name_}'))

        t = f'{mode.capitalize()} salary over time for each category'
        # Create a plot of median salaries
        combine_plots(figures=line_plot_figures_, title=t,
                      yaxis_title='Median', xaxis_title='Year', save=True, y_range=(0, max_value_ * 1.2),
                      save_path=f'stage_1/{t}')

    ### histograms
    max_values = {}
    for name_, value_ in tmp_dict_.items():
        series_ = value_['years']
        max_values[name_] = []
        for i, s in series_.items():

            if len(s) > 0:
                max_values[name_].append(max(s))

    histogram_figures = {}
    for name_, value_ in tmp_dict_.items():
        histogram_figures[name_] = []
        series_ = value_['years']
        for i, s in series_.items():
            histogram_figures[name_].append(
                create_histogram(data=s, title=f'{i}', xaxis_title='Year', yaxis_title='Frequency',
                                 x_range=(0, max(max_values[name_]) * 1.1), save=False,
                                 save_path=f'stage_1/{name_} {i}'))

    combined_histograms_ = []
    for name_, value_ in histogram_figures.items():
        t = name_.capitalize()
        combined_histograms_.append(
            combine_plots(figures=value_, title=t, yaxis_title='Frequency', xaxis_title='Value',
                          x_range=(0, max(max_values[name_]) * 1.1), save=True, subplot_titles=True,
                          save_path=f'stage_1/histograms/{t}'))

    return tmp_dict_


stage_1(frame, mode="average")
stage_1(frame, mode="median")

{'Data Engineering': {'values': [100000.0, 96282.0, 135000.0, 142200.0],
  'years': {'2020': array([100000,  54742,  59303,  70000,  74130,  79833, 106000, 112872,
          188000,  70139, 109024, 125000, 114047,  56000,  47899, 110000,
          130800], dtype=int64),
   '2021': array([ 66970,  75050,  45390, 150000, 200000,  60000, 200000, 100000,
           82528,  80000, 153000,  90000,  28476, 140000, 103160, 113476,
          150000, 115000, 150000,  89294, 276000, 160000, 200000, 174000,
           96282,  72212, 200000, 110000,  72500,  69741, 112000,  65013,
           28016, 111775,  93150, 160000,  26005,  66022,  20000, 165000,
          185000,  76833,  18000,  45391,  28369], dtype=int64),
   '2022': array([ 59888, 175000, 155000, 153600, 106800, 170000, 130000, 145000,
          100000, 175000, 120000, 145000, 115000, 260000, 175000, 250000,
           63000, 150000, 150000, 120000,  95000, 160000, 135000, 216000,
          144000,  85000,  65000, 130000, 115000, 105000,  70000, 185900,
          129300, 130000,  75000, 167500, 106500, 175000, 120000, 175000,
          120000, 200000, 145000,  92350,  73880, 145000, 100000, 310000,
          239000, 100000,  78000,  73546,  36773, 160000, 120000, 120000,
           95000, 120000,  95000, 190000, 120000, 210000, 130000, 198800,
          122600, 130000,  80000, 160000, 135000, 216000, 144000, 215000,
          150000, 187000, 153000, 220000, 146000,  68293,  36773, 120000,
           95000, 194000, 129400, 153600, 106800, 216000, 144000, 160000,
          135000, 152500, 130000, 178750, 160000, 105000,  70000, 197430,
          134760, 197000,  99000, 220000, 162000, 110446,  79178, 100000,
           78000, 120000,  95000, 230000, 154600, 160000,  75000, 213000,
          152000, 175000, 150000, 178000, 132000, 300000, 130000, 194000,
          129400, 135000, 120000, 160000, 135000, 120000,  95000,  68293,
           42026, 191200, 130000, 191200, 130000, 230000, 154600, 120000,
           95000, 185900, 129300, 205000, 150000, 179500, 134000, 160000,
           90000,  68293,  36773, 145000, 115000, 168400, 105200, 200000,
          160000, 125000, 110000, 160000, 135000, 120000,  95000, 153600,
          106800, 120000,  95000,  63040,  36773, 310000, 239000, 161000,
          118000, 146000, 102000, 135000, 100000,  80000,  65000, 135000,
          100000,  61566,  43096, 175000, 135000, 231250, 138750, 231250,
          138750, 193750, 116250, 185900, 129300, 160000, 135000, 191200,
          130000, 175000, 150000, 170000, 145000, 135000, 100000, 179305,
          142127, 315000, 225000, 182500, 128500, 160000,  90000, 170000,
          140000, 247500, 172200, 225000, 184100, 161000, 110000,  61566,
           49253, 160000, 130000, 135000, 100000, 220000, 150000, 240000,
          170000, 275000, 166000, 236000, 182000, 300000, 130000, 195000,
          175000, 155000, 110000, 170000, 150000,  97000,  90000, 200000,
          160000, 260000, 180000, 171000, 117000, 197000,  99000, 160000,
          110000, 170000, 130000,  78000,  42000, 145000, 115000, 205600,
          105700, 185900, 129300, 225000, 184100, 110820,  92350, 185900,
          129300, 191200, 130000, 185000,  50000, 185900, 129300, 185900,
          129300, 161311,  73546,  42026, 170000, 150000, 188700, 160395,
          300000, 225000, 200000, 180000, 165000, 132000, 178800, 132100,
          160000,  85000, 250000,  63000, 187200, 116100, 200000, 145000,
          229998, 154545, 229998, 154545, 175000, 150000, 160000,  85000,
          195700, 130500,  80036,  67723, 141300, 102100, 135000,  80000,
          160000,  85000, 178800, 132100, 140000, 105000,  80036,  67723,
          150000, 100000, 297500, 260000, 193000, 250000,  63000, 215000,
          164000, 300000, 130000, 250000,  63000, 180000, 150000, 250000,
           63000, 135000, 115000,  84053,  73546,  98506,  86193,  84053,
           73546, 104611,  82280,  80000, 105000,  90000, 146200, 124270,
          185800, 137400, 250000,  63000, 250000,  63000, 135000,  85000,
          154000, 126000, 195700, 130500,  98506,  73880, 200000, 135000,
          188100, 139860, 141300, 102100, 177600, 131300,  24000,  24000,
          250000,  63000, 145000, 115000, 210000, 100000, 206699,  99100,
          250000,  63000, 250000,  63000, 100000,  80000,  91118,  61566,
          170000, 130000, 200000, 160000, 135446, 104663, 129000,  86000,
          210000, 100000, 175000, 135000,  92350,  67723,  65666, 110820,
           92350, 209100, 154600, 175000, 155000,  52533,  52533, 115222,
          165400, 132320, 136994, 101570, 183600, 100800,  84053,  73546,
           98506,  86193,  84053,  73546,  92350,  73880,  63040,  47280,
           63040,  47280,  73880,  55410,  82900,  63900, 136000, 108800,
          242000, 200000,  73880,  49253, 181940, 132320, 220110, 160080,
          170000, 150000,  49253,  43096,  73880,  61566, 160000, 113000,
          165400, 132320, 243900, 156600, 128875,  93700, 209100, 154600,
          180000, 160000, 200100, 160000,  70500,  54000, 175100, 140250,
          145000, 130000, 155000, 115000, 206699,  99100, 130000, 110500,
          154000, 126000, 100000,  25000, 220110, 160080, 324000, 216000,
          210000, 100000, 105000,  80000,  52533,  65000, 135000, 115000,
           55475,  65141, 120000], dtype=int64),
   '2023': array([ 95012, 210000, 168000, ..., 182000, 160000, 135000], dtype=int64)}},
 'Data Architecture and Modeling': {'values': [nan,
   170000.0,
   154520.0,
   150000.0],
  'years': {'2020': array([], dtype=int64),
   '2021': array([250000, 170000, 150000,  99703, 180000], dtype=int64),
   '2022': array([190000, 135000, 149040, 113900, 190000, 135000, 235000, 175000,
          192564, 144854, 210000, 136000, 128000,  81500, 345600, 230400,
          225000,  66000, 180000, 160000, 190000, 135000, 195400, 131300,
          195400, 131300, 190000, 135000, 190000, 135000, 149040, 113900,
          141300, 102100, 250000,  63000, 250000,  63000, 208775, 147800,
          192400,  90700, 266400, 213120, 192564, 144854], dtype=int64),
   '2023': array([186000,  81800, 185000, 150000, 166000,  73100, 185000, 150000,
          170000, 135000, 239000, 122900, 206000, 134000, 150000, 140000,
          190000, 107500, 191600, 125600, 206000, 134000, 155000, 136000,
          354200, 221800, 186000,  81800, 210000, 115000, 310000, 206000,
          119636,  70374, 185000, 150000, 185000, 150000, 206000, 134000,
          193000, 110000, 175000, 135000, 175564, 144854, 183000, 147000,
          210000, 160000, 193000, 128000, 155000, 130000, 306000, 204000,
          175000,  90000, 140000, 100000, 234900,  68400, 155000, 135000,
          193000, 110000, 306000, 204000, 215000, 153000, 104584,  92280,
          170000, 140000, 170000, 140000, 115500,  73500, 195000, 160000,
          190000, 120000,  85000,  65000,  91000,  86000, 140000, 110000,
          147100,  90700, 175000, 125000, 140000, 100000,  91000,  86000,
          168400, 105200, 147100,  90700, 168400, 105200, 180000, 165000,
          138000,  92000, 104000,  86000, 104000,  86000, 188500, 117000,
           80000,  52500, 180000, 115000, 200000, 115000, 150000, 100000,
          110736,  55368, 150000,  90000, 135000, 115000,  86128,  79976,
          280100, 168100, 274450, 199600, 306000, 204000, 240000, 150000,
          306000, 204000, 104584,  92280, 250500, 159500, 258000, 285000,
          210000, 205000, 150000, 168400,  90700, 110736,  55368, 147100,
           90700,  90000,  72000, 280100, 168100, 180000, 115000, 200000,
          115000, 250500, 159500, 180000, 155000, 167500, 106500, 170000,
          125000, 167500, 106500, 149040, 113900, 376080, 213120, 138000,
           92000, 149040, 113900, 188500, 117000, 168400, 105200, 228000,
          120000, 198000, 114000, 180000, 160000, 153799, 180000, 115000,
          200000, 115000, 174500, 113000, 174500, 113000, 174500, 113000,
          180000, 115000, 174500, 113000, 174500, 113000, 170000, 110000],
         dtype=int64)}},
 'Data Science and Research': {'values': [103000.0,
   90734.0,
   141525.0,
   164000.0],
  'years': {'2020': array([164000, 300000,  49268,  68428, 450000, 103000,  45760,  76958,
          105000,  42000, 115000,  79833, 190000,  51321,  39916, 325000,
           42197,  62726,  21669, 120000, 148261,  38776,  91237,  62726,
          190200, 118000, 138350, 412000, 105000], dtype=int64),
   '2021': array([150000,  20000, 109000,  69999, 240000,  80000, 220000, 100000,
           82500,  49646, 110037,  62649, 250000, 130026,  63831,  85000,
          127221, 144000,  75774, 150000,  50000,  54238, 153667,  82528,
           53192,  76833, 187442,  60757,  90000,  36643, 165000, 103691,
           63810, 110000, 100000,  20171,  58000, 100000,  77684,  76833,
          105000,  25532, 141846, 135000, 147000,  96113, 174000,  69741,
           90734,  90000,  61467,  37825, 416000,  56256, 116914,  88654,
           56738, 160000,  50000,  40189,  90734,  87738, 152000, 130000,
          173762,  46809, 115000, 235000,  73000, 168000, 119059, 151000],
         dtype=int64),
   '2022': array([ 36940,  16455, 190000,  55410, 105066,  88256,  73546, 172309,
          106000, 192000, 168000,  85000, 180000,  23000, 155000, 110000,
          100000, 130000, 150000, 140000, 122000,  94500, 145000, 128000,
          150000, 127500, 126500,  51000,  40000, 272550, 198200,  94560,
           52533, 220000, 146000,  24165, 140000, 120000, 150000, 110000,
          190000, 155000,  92350,  67723, 175000, 120000, 184000, 142000,
          145000, 100000, 192000, 164000, 190000, 150000,  47280,  37824,
          175000, 140000, 249500, 149850, 249500, 149850, 249500, 149850,
          210000, 150000, 182750, 161500, 210000, 150000, 136000, 104000,
          159000, 130000, 124234,  74540,  47280,  37824, 128000,  81500,
          173000, 110000, 165000, 125000, 230000, 196000, 180000, 120000,
           63040,  52533, 130000,  95000, 203500, 152000, 120000,  70186,
           51716, 185900, 129300,  47280,  37824, 140000, 120000, 110000,
           70000,  64090,  60938, 130000,  90000, 250000, 150000,  66192,
          140000, 120000, 180000, 120000, 185900, 129300, 175000, 145000,
           27317,  47280,  37824, 198800, 122600, 148000, 107000, 299500,
          245100, 168000, 130000, 136000, 104000, 205000, 184000, 185900,
          129300, 247500, 172200, 205000, 184000, 230000, 196000,  80000,
          208000, 127000, 300000, 196000,  47280,  37824, 205000, 185000,
          185900, 129300, 185900, 129300, 205000, 184000, 375000, 225000,
          156400, 185900, 129300, 140700,  93800, 350000, 135000, 247500,
          172200, 177500, 134000, 185900, 129300, 243900, 156600,  89306,
          120000, 100000,  85000,  78000, 136000, 104000,  47280,  37824,
          245000, 180000, 198440, 144000, 198440, 144000,  57872,  39925,
          159699, 138938, 180000, 140000, 225000, 156400, 240000, 180000,
          100000, 175000, 122500, 202800, 104300, 185900, 129300,  30000,
           84000,  54000,  80000,  73742, 165000,  33246, 185900, 129300,
          225000, 156400, 185900, 129300, 155000,  38000, 155000,  38000,
          153600, 106800, 185000,  50000, 155000,  38000, 168000, 130000,
          123400,  88100, 120000,  55000, 185900, 129300, 139000, 122000,
          185900, 129300, 225000, 156400, 200000, 175000, 185000,  50000,
           47280,  37824, 144200, 115360,  83171, 108000, 198440, 144000,
          191475, 141525,  75648, 156868, 198440, 144000, 126080,  84053,
          215000, 159000, 183000, 236900, 159200, 243225, 179775, 148000,
          128000, 191475, 141525, 218000, 145300, 191475, 141525, 207000,
          153000, 191475, 141525, 191475, 141525, 191475, 141525, 191475,
          141525, 207000, 153000, 191475, 141525, 191475, 141525, 191475,
          141525, 102200, 180000, 165000, 179400, 154000, 222640, 182160,
           93000,  73000, 136994, 101570, 191475, 141525,  57786, 172000,
          140000, 191475, 141525, 212800, 142800,  73546,  50000, 151800,
          130240, 179400, 154000, 191475, 141525, 191475, 141525, 191475,
          141525, 191475, 141525, 191475, 141525, 191475, 141525, 191475,
          141525, 191475, 141525,  31520, 204100, 136100, 118208, 110820,
          191475, 141525, 191475, 141525, 191475, 141525, 170000, 130000,
          175000, 140000,  29944, 160000, 119300, 145000, 225000, 160000,
           54634,  82000, 110000, 203500, 152000, 158000, 134000, 170000,
          120000, 115573,  89306, 206000, 175100, 123400,  88100, 245000,
          205000,  84053,  61566, 189500, 140100, 180000, 140000,  50000,
           84053, 131752, 260500, 175100,  52008, 160000, 100000,  60938,
          249260, 185400,  80036, 160000,  92000, 160000, 119300,  25000,
          153000, 160000,  92000, 133766, 186000, 148800, 300000, 200000,
          215300, 158200, 170000, 123000, 215300, 140400, 260000, 180000,
           67723,  43096,  60000, 241000, 159000, 180000,  80000,  61566,
           36940, 165220, 120160, 180000, 120000, 130000,  90000, 136620,
           99360, 110820,  98506, 146000, 123000, 161342, 137141, 167000,
          123000, 211500, 138600, 150000,  95550, 224000, 167875, 205300,
          140400, 176000, 144000, 205300, 140400, 141300, 102100, 230000,
          150000, 160000, 130000, 210000, 140000, 210000, 140000, 210000,
          140000, 210000, 140000, 230000, 140000, 220000, 140000, 172386,
           86193, 200000, 120000, 185100, 104890, 192037, 157000,  67597,
           51081,  78000,  40000,  89306,  83171, 165000, 100000,  33609,
           61989, 152500, 120000, 135000, 380000, 120402, 177000,  48000,
          100000, 100000, 144000, 155499], dtype=int64),
   '2023': array([212000,  93300, 130000, ..., 110000, 130000,  90000], dtype=int64)}},
 'Machine Learning and AI': {'values': [88552.0, 74000.0, 142200.0, 182200.0],
  'years': {'2020': array([117104, 250000, 138000,  50180,  15966, 260000, 150000,  45896,
           60000,  45618], dtype=int64),
   '2021': array([185000,  60000,  30000,  45555,  15000,  19073,  51064,  24000,
           38400,  20000, 120000, 100000,  82744, 125000, 270000,  47282,
          225000,  94564,  95746,  70000, 256000, 185000,  55000,  85000,
           24823,  21844,  81000, 195000, 225000,  46597,  88654,  28609,
           24823, 200000,  74000,  18907, 423000], dtype=int64),
   '2022': array([ 80000,  97712,  56536, 275000, 375000,  84053, 150000,  40000,
          210000, 160000, 248400, 183600,  40000, 246000, 201000, 235000,
          185000, 204500, 142200, 192000, 164000,  44365, 145000, 135000,
          125000,  58837, 210000, 150000, 246000, 201000, 255000, 185000,
          134000, 124000, 200000, 192000, 120000, 190000, 130000,  90000,
          150000, 100000, 230000, 150000, 130000, 100000, 165000, 135000,
          204500, 142200, 227200, 168000, 243000, 183000, 105236, 189750,
          140250, 115573,  73546,  86193,  49253, 100000, 204500, 142200,
          204500, 142200, 247500, 172200, 204500, 142200, 104663,  80036,
          104697,  33000,  34672, 201000, 119000, 130000,  90000, 187200,
          116100, 204500, 142200, 180000, 100000, 210000, 180000, 108000,
          148500,  98200, 200000, 150000,  69344, 210000, 180000, 140000,
          110000,  50000, 210000, 180000, 195400, 131300, 200000, 135000,
          130000,  84000,  31520, 195400, 131300,  60000,  63040, 108000,
          193900, 129300, 200000, 180000, 200000,  75000, 186000, 148800,
          128058, 173000, 186000, 148800, 135000,  85000, 189650, 164996,
          200000, 150000, 193900, 129300,  55410, 248700, 167100, 202900,
          131300, 115000, 193900, 129300, 216000, 144000,  77119,  30000,
          180000, 100000, 200000, 180000,  22800, 202900, 131300,  83000,
          240000, 160000, 200000, 116976,  92350, 120000,  84053, 189650,
          164996,  35093, 189650, 164996, 160000, 112300, 214000, 192600,
          220000, 120000, 120000,  65000,  76814, 120000,  55685,  75000,
           68293,  83864,  59888, 153000,  76814,  30469, 150000,  84053,
          125000,  21013], dtype=int64),
   '2023': array([224400, 138700, 224400, ...,  46755, 261500, 134500], dtype=int64)}},
 'Data Analysis': {'values': [72000.0, 77500.0, 105066.0, 105000.0],
  'years': {'2020': array([ 44753,  47899,  60000,  15000,  95000,  22809,  20000,  46759,
           91000,  72000, 135000,  87000,  85000,  98000, 100000],
         dtype=int64),
   '2021': array([ 56000, 115000,  42028,  50000, 135000,  90000,  50000,  55000,
           90000,  60000,  59102,  80000, 170000,  80000, 100000, 150000,
           88654,  51519,  93000, 170000,  80000, 200000,  63831,  71786,
           61896,  59102,  75000,  62000], dtype=int64),
   '2022': array([ 34320,  48000,  25216, 150000, 100000, 150000, 100000, 149000,
          119000, 100000,  75000,  60000, 120000,  95000, 150000, 100000,
          115934,  81666,  55000,  48000, 127000, 104000, 102640,  66100,
          150000, 100000, 115934,  81666, 430967,  55410,  50432,  39925,
          169000, 110600,  60938,  75000,  60000,  50000, 166700, 119000,
          100000,  65000,  50000, 150000, 100000, 115934,  81666, 120000,
           95000, 201000,  89200, 192500, 140000,  65000,  55000, 171000,
          150000, 100000, 165000, 124000, 169000, 110600, 116000,  96000,
           92350,  70186, 105000,  70000, 100000,  70000, 130000, 100000,
          160000, 109000, 206000, 160000, 150000, 100000, 169000, 110600,
           80000, 105066, 130000, 100000, 165000, 124000, 150000, 100000,
          100000,  65000, 177000, 131000, 169000, 110600, 150000, 100000,
          110000,  95000, 169000, 110600, 115934,  81666, 154560, 123648,
          130000, 100000, 130000, 105000, 206000, 160000, 109000,  79000,
          160000, 109000, 127000, 110000, 169000, 110600, 150000, 100000,
          120000,  95000,  64000, 150000, 127000, 166700, 119000, 130000,
          100000,  80000,  52500, 135000, 100000, 125404,  80000,  52500,
           50432,  36773, 150000,  95000, 175950, 130050, 236600,  89200,
          200000, 169000, 110600,  85000,  65000, 169000, 110600, 139600,
           85700, 115000,  95000, 105000,  62000,  57000, 115934,  81666,
           50432,  36773,  90000,  45050,  20000,  99750,  68400, 110000,
           99000,  50432,  36773, 150000, 144000, 113000,  50000, 136000,
          112000,  97500,  75000, 115000,  46000, 113000, 140000,  53368,
          216200, 144100, 117000,  99450,  86193,  61566, 175000, 130000,
           50432,  50000, 216200, 144100, 150000,  55000, 130000,  28368,
          128875,  93700, 136260, 109280, 117000,  99450, 100000,  65257,
          150075, 110925,  15000, 112900,  90320, 112900,  90320, 115934,
           81666, 164000, 132000, 128875,  93700,  49253,  36940,  42026,
           31520,  42026,  31520,  58000,  58000, 124190,  90320, 126500,
          106260, 116000,  99000, 155000, 120600, 102100,  84900, 130000,
          110000, 170000, 135000, 130000,  61300, 130000,  61300, 167000,
          115500, 112900,  90320, 112900,  90320, 136600, 109280, 116150,
           99050, 112900,  90320,  85000,  75000, 115934,  81666,  61566,
           43096,  80000,  60000, 170000, 150000,  67000,  52000, 129000,
           99000, 100000,  69000, 150075, 110925, 126500, 106260, 105000,
          100000, 170000, 135000, 135000,  50000,  69133,  20000,  75000,
          100000], dtype=int64),
   '2023': array([ 95000,  75000, 155000, ...,  64000, 150000, 100000], dtype=int64)}},
 'Leadership and Management': {'values': [nan, 120000.0, 133500.0, 140000.0],
  'years': {'2020': array([], dtype=int64),
   '2021': array([102839, 230000, 120000, 110000,  79197, 235000,  50000, 120000,
          140000], dtype=int64),
   '2022': array([133000, 125000, 122500, 100000, 170000, 125000,  50000, 135000,